body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
}

#color-shuffle-button,#word-shuffle-button {
    height: 50px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    position: fixed;
    top: 200px;
    transition: transform 0.1s ease;
    left: 100px;
}

#word-shuffle-button {
    left: 250px;
}

#color-shuffle-button:hover,#word-shuffle-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* 5 columns of 100px each */
    grid-template-rows: repeat(5, 50px);    /* 5 rows of 50px each */
    gap: 12px;                               /* 5px gap between boxes */
}

.word-container {
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    transition: transform 0.1s ease; /* Smooth transition for the scale effect */
}

.word-container:hover {
    cursor: pointer;
    transform: scale(1.1); /* Scale the box to 110% of its original size */
}

.word-text {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: .25px;
}

.blue {
    background-color: teal;
    color: white;
}

.red {
    background-color: salmon;
    color: white;
}

.black {
    background-color: black;
    color: white;
}