body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
}

p {
    user-select: none;
}

#button-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#color-shuffle-button, #word-shuffle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 1;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    transition: transform 0.1s ease;
}

#color-shuffle-button:hover, #word-shuffle-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(10%, 1fr)); /* Responsive columns */
    gap: 12px;
    width: 80%; /* Adjust the width of the container */
}

.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 1;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    transition: transform 0.1s ease;
}

.word-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.word-text {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: .25px;
}

.blue {
    background-color: teal;
    color: white;
}

.red {
    background-color: salmon;
    color: white;
}

.black {
    background-color: black;
    color: white;
}
