<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covert Clues</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!--<div id="button-container">
        <div id="color-shuffle-button"><p class="word-text">Shuffle Colors</p></div>
        <div id="word-shuffle-button"><p class="word-text">Shuffle Words</p></div>
    </div>-->
    <div id="grid-container">
        <div class="word-container" id="1" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="2" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="3" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="4" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="5" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="6" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="7" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="8" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="9" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="10" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="11" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="12" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="13" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="14" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="15" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="16" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="17" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="18" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="19" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="20" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="21" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="22" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="23" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="24" value=""><div class=""><p class="word-text">Test</p></div></div>
        <div class="word-container" id="25" value=""><div class=""><p class="word-text">Test</p></div></div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
